<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Automation.Plugins.AS.Forklift.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Automation.Plugins.AS.Forklift.Properties.Settings>
            <setting name="HttpUrl" serializeAs="String">
                <value>http://10.93.5.172:8081/</value>
            </setting>
        </Automation.Plugins.AS.Forklift.Properties.Settings>
    </userSettings>
</configuration>