<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Automation.Plugins.YZ.Sorting.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Automation.Plugins.YZ.Sorting.Properties.Settings>
      <setting name="Sorting_Line_Code" serializeAs="String">
        <value>01</value>
      </setting>
      <setting name="PackDataPath" serializeAs="String">
        <value>F:\PackData\</value>
      </setting>
      <setting name="Supply_Cache_Position" serializeAs="String">
        <value>1,2</value>
      </setting>
      <setting name="HttpUrl" serializeAs="String">
        <value>http://localhost:7851/SortTask/</value>
      </setting>
    </Automation.Plugins.YZ.Sorting.Properties.Settings>
  </userSettings>
</configuration>