<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=4.4.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="AutomationDesktop.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DotSpatial.Plugins.ExtensionManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DotSpatial.Plugins.SplashScreenManager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
      <section name="Automation.Plugins.MainPlugin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
  </entityFramework>
  <userSettings>
    <AutomationDesktop.Properties.Settings>
      <setting name="CustomMainFormTitle" serializeAs="String">
        <value>自动化仓储控制系统</value>
      </setting>
      <setting name="CustomAppIconPath" serializeAs="String">
        <value>AutomationDesktop.ico</value>
      </setting>
      <setting name="LibDirectories" serializeAs="String">
        <value>DevExpress</value>
      </setting>
    </AutomationDesktop.Properties.Settings>
    <DotSpatial.Plugins.SplashScreenManager.Properties.Settings>
      <setting name="CustomSplashImagePath" serializeAs="String">
        <value>AutomationDesktop.jpg</value>
      </setting>
      <setting name="CustomSplashCopyrightMessage" serializeAs="String">
        <value>Copyright ©2013 Powered By THOK-SW Team Version 10.0.0</value>
      </setting>
    </DotSpatial.Plugins.SplashScreenManager.Properties.Settings>
    <DotSpatial.Plugins.ExtensionManager.Properties.Settings>
      <setting name="SourceName" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string>thok</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="SourceUrls" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
            <string> http://www.myget.org/F/thok/</string>
          </ArrayOfString>
        </value>
      </setting>
      <setting name="FeedsToAutoUpdate" serializeAs="Xml">
        <value>
          <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
            xmlns:xsd="http://www.w3.org/2001/XMLSchema">
          </ArrayOfString>
        </value>
      </setting>
    </DotSpatial.Plugins.ExtensionManager.Properties.Settings>
    <Automation.Plugins.MainPlugin.Properties.Settings>
      <setting name="CustomHomePanelImagePath" serializeAs="String">
        <value>HomePanelImage.jpg</value>
      </setting>
    </Automation.Plugins.MainPlugin.Properties.Settings>
  </userSettings>
</configuration>