<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="thok.nuget.org" value="http://nuget.wicp.net/api/v2/" />
    <add key="thok.myget.org" value="https://www.myget.org/F/thok/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)"  />
  </activePackageSource>
</configuration>