<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Automation.Plugins.YZ.Stocking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Automation.Plugins.YZ.Stocking.Properties.Settings>
            <setting name="LED" serializeAs="String">
                <value>1,23;2,0</value>
            </setting>
            <setting name="LED_SQL" serializeAs="String">
                <value>1-小品种LED:select *,case status  when '1' then '已下单' else  '未下单' end orderstatus,'已经过' ledStatus from sms_supply_task where origin_position_address='14';2-扫码LED:select *,case status  when '1' then '已下单' else  '未下单' end orderstatus,'已经过' ledStatus from sms_supply_task</value>
            </setting>
        </Automation.Plugins.YZ.Stocking.Properties.Settings>
    </userSettings>
</configuration>